#
Data Science Tools and Ecosystem

An Introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
- List data science languages
- List data science libraries
- Make table 
- Show arithmatic expression examples

Data Science Languages

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Data Science Libraries

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib

|Table of Data Science Tools|
|------------------|
|Jupyter Notebook|
|Rstudio|
|VS Code|

###
Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers.

In [17]:
x=3
y=4
z=5
result=(x*y)+z
print(result)

17

In [19]:
x=200
y=60
result=x/y
print(result)

3.3333333333333335

In [20]:
"This will convert 200 minutes to hours by diving by 60"

'This will convert 200 minutes to hours by diving by 60'

##
Author

DM